default_shell "fish"
pane_frames false
layout {
    tab hide_floating_panes=true {
        pane split_direction="horizontal" {
            pane {
                command "hx"
                args "."
                size "75%"
                focus true
            }
            pane
        }        
    }
}
keybinds {
    shared {
        bind "Alt f" { ToggleFocusFullscreen; }
        bind "Alt g" { ToggleFloatingPanes; }
        bind "Alt y" {
          Run "yazi-hx";
          TogglePaneEmbedOrFloating;
        }
    }
}
