@font-face {
  font-family: JBMono;
  src: url("./fonts/jb.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  src: url("./fonts/inter.ttf") format("truetype");
}

@import "tailwindcss";
@theme {
  --font-mono: "JBMono", monospace;
  --font-sans: "Inter", system-ui, sans-serif;
}
